html, body {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}
.main {
    width:100%;
    display: flex;
    min-height:calc(100% - 64px);
    align-content: center;
    align-items: center;
    justify-content: center;
}
footer{
    width: 100%;
    height:auto;
    background: #333;
    color:white;
}
nav{
    background: #fff;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    box-shadow: none;
    border-bottom: 1px solid #333;
}
.nav-wrapper{
    width:80%;
}
nav img{
    max-height:100%;
    padding: 1.5rem 0;
}
nav ul a, nav a{
    color: #000;
}

.page-footer{
    background: #fff;
    border-top: 1px solid #333;
}

.main{

}
.wrapper{
    display: block;
    width: 80%;
}
.card-image{
    background-size: cover;
    height: 100%;
    background-position: center; 
}
.card{
    overflow: hidden;
    min-height: 50vh;
    height:50vh;
    max-height: 50vh;
    border-radius: 10px;
}
.card.hoverable:hover{
    cursor: pointer;
}
.card-title{
    width:100%;
    padding: 0.4rem 1.5rem 0.8rem 1.5rem !important;
    background: rgba(0,0,0,0.3)
}
.sidenav img{
    max-height:100%;
    padding: 1.2rem 0;
}
.row.candidates{
    display: flex;
    justify-content: center;
}
.candidates > div{
    margin: 0 1rem !important;
}
.mobile{
    display: none;
}
.question-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.question-wrapper > button{
    margin: 0 auto;
}
.question-wrapper > button:hover{
    background: #ffca28;
}
@media only screen and (max-width: 601px){
    .card{
        min-height: 30vh;
        height:30vh;
        max-height: 30vh;
    }
    .candidates{
        flex-direction: column;
    }
    .candidates > div{
        margin: 0 !important;
    }
    .question{
        position: fixed;
        left: 0;
        background: #fff;
        border-top:1px solid #000;
        bottom:0;
        text-align: left;
        width:100%;
    }
    footer{
        margin-bottom: 5rem;
    }
    .question button > i{
        color:#000;
    }
    .btn-floating:hover{
        background: #fff;
    }
    .question-wrapper-mob{
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        width:80%;
        margin:0 auto;
    }
    .question button{
        margin-left: auto;
    }
}