<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>FDK</title>
</head>
<body>
    <a href="/"><img src="../static/img/logo.svg" id="logo"></a>
    <button id="switch" type="button" onclick="rotate(true);"><img src="../static/img/switch.png" id="switchImg"></button>
    <ul class="nav" id="nav">
        <li><a href="/rating/">Rating</a></li>
        <li><a href="/admin/">Add Girl</a></li>
        <li><a href="/faq/">FAQ</a></li>
    </ul>

    <div style="margin:auto; width: 50%">
        <h2 style="margin-top: 0em">Add Girl</h2>
        <form action="javascript:void(0); "onsubmit="OnAddUser();">
            <input type="url" id="vk_url" name="url" placeholder="VK URL..">  
            <input type="submit"> 
        </form>

        {{if .IsAdmin}}
        <h2>Edit Girl</h2>
        <form action="javascript:void(0); "onsubmit="OnSearch();">
            <input type="text" size="30" id="username" placeholder="Girls Name..">
            <input type="submit">
            <div id="livesearch"></div>
        </form>
        {{end}}

        {{if not .IsAdmin}}
        <h2>Become Admin</h2>
        <form action="/edit/">
            <input type="text" size="30" placeholder="Invite Key.." onkeyup="showResult(this.value)">
            <div id="livesearch"></div>
        </form>
        {{end}}


        {{if .IsAdmin}}
        <h2>Your Invite Keys</h2>
        <div id="invite_keys">
            <div class="keyset">
                <div class="key">aFdVsdKj <button style="float:right">copy</button></div>
                <div class="key">dASdjdja</div>
            </div>
        </div>
        {{end}}
    </div>

    <footer> 
        <div class="text"><a href="/about/">About.</a> Все права не защищены. </div>
    </footer>
</body>
<script src="../static/scripts/api.js"></script>
<script src="../static/scripts/admin.js"></script>

</html>