<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    </head>

    <body>
        <div>
            <div class="photo-wrapper center">
                <img src="../static/img/girl.jpg">
            </div>

            <div class="text-wrapper center">
                <regular>You chose to</regular> 
                <action>kill</action>
                <regular>
                    Masha Gumanova <br>
                    1% of users agree with you <br>
                    Poor choice, by the fucking way
                </regular>
            </div>
        </div>
    </body>
</html>