<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Muli" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>FDK</title>
</head>
<body>
    <a href="/"><img src="../static/img/logo.svg" id="logo"></a>
    <ul class="nav">
        <li><a href="/ratings/">Rating</a></li>
        <li><a href="/admin/">Add Girl</a></li>
        <li><a href="/faq/">FAQ</a></li>
    </ul>
    <div class="wrapper">
        <ul>
            <li>
                <div class="imgWrapper" id="img1"><img src="../static/img/img1.jpg"></div>
                <div class="imgText"></div>
            </li>
            <li>
                <div class="imgWrapper" id="img2"><img src="../static/img/img6.jpg"></div>
                <div class="imgText"></div>
            </li>
            <li>
                <div class="imgWrapper" id="img3"><img src="../static/img/img5.jpg"></div>
                <div class="imgText"></div>
            </li>
        </ul>
        <div class="text" id="text"></div>
    </div>
    <footer> 
        <div class="text">FDK. Все права не защищены</div>
    </footer>
</body>
<script src="../static/scripts/main.js"></script>
<script src="../static/scripts/script.js"></script>
</html>