<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>FDK</title>
</head>
<body>
    <a href="/"><img src="../static/img/logo.svg" id="logo"></a>
    <button id="switch" type="button"><img style="overflow:hidden" src="../static/img/switch.png" id="switchImg"></button>
    <ul class="nav" id="nav">
        <li><a href="/rating/">Rating</a></li>
        <li><a href="/admin/">Add Person</a></li>
        <li><a href="/faq/">FAQ</a></li>
    </ul>
    <div class="indexWrapper">
        <ul>
            <li>
                <button type="button" class="imgButton" id="imgButton1"><img></button>
                <div class="imgText"></div>
            </li>
            <li>
                <button type="button" class="imgButton" id="imgButton2"><img></button>
                <div class="imgText"></div>
            </li>
            <li>
                <button type="button" class="imgButton" id="imgButton3"><img></button>
                <div class="imgText"></div>
            </li>
        </ul>
        <div class="control">
            <div class="text" id="text"></div>
            <button type="button" onclick="ResetGame();">Reset</button>
        </div>
    </div>
    <footer> 
        <div class="text"><a href="/about/">About.</a> Все права не защищены. </div>
    </footer>
</body>
<script src="../static/scripts/main.js"></script>
<script src="../static/scripts/script.js"></script>
<script src="../static/scripts/api.js"></script>
</html>